*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262c27;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(../images/csm_FA22_RayAir_Header_2_738a7a250b\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}

.header::before {
    content: '';
    position: absolute;
    background-image: url(../images/Vector.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(35%);
    z-index: 2;
}

.header::after {
    content: '';
    position: absolute;
    background-image: url(../images/Vector.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}

.header__top {
    padding-top: 57px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: flex-end;
    font-family: "Comfortaa", cursive;
    line-height: 22px;
    font-weight: 700;
    font-size: 20px;
}

.logo path {
    transition: fill .3s ease;
}

.logo:hover path {
    fill: #0093A1;
}

.header__btn {
    text-transform: uppercase;
    background-color: #262C27;
    color: #FFFFFF;
    padding: 12px 70px;
    border: none;
    cursor: pointer;
    transition: background-color, color .3s ease;
}

.header__btn:hover {
    background-color: #B9C400;
    color: #262C27
}

.header__content {
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__content-box {
    max-width: 550px;
    color: #FFFFFF;
    text-align: center;
    margin-right: 30px;
    font-family: Comfortaa;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

.header__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 71px;
}

.header__text {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 27px;
}

.header__decor-text {
    position: absolute;
    color: #0093A1;
    bottom: 120px;
}

.header__decor-text--one {
    right: 130px;
    z-index: 1;
    bottom: 120px;
}

.header__decor-text--one,
.header__decor-text--two {
    font-family: Comfortaa;
    font-size: 130px;
    font-weight: 400;
    opacity: 0.3;
}

.header__decor-text--two {
    left: 250px;
    z-index: 4;
    bottom: -10px;
}

.header__decor-text--three {
    max-width: 360px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    font-style: italic;
    z-index: 4;
    text-align: center;
    right: 130px;
    bottom: -50px;
}

.info {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #262C27;
    height: 130px;
    width: 100%;
    transform: translateY(-40px);
    z-index: 1;
}

.info__top {
    display: flex;
    gap: 80px;
    padding-top: 140px;
    margin-bottom: 65vh;
}

.info__top-text {
    position: relative;
    padding-top: 270px;
    width: 290px;
    font-size: 18px;
    color: #FFFFFF;
}

.info__top-text-two {
    border-bottom: 1px solid #fff;
}

.info__top-text-one {
    padding-bottom: 125px;
}

.info__top-img {
    position: relative;
    height: 100%;
    z-index: 6;
}

.popup__btn {
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;

}

.popup__btn span {
    display: block;
    padding-top: 12px;
    color: #FFFFFF;
}

.info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info__specs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 132px;
    color: #fff;
    padding-bottom: 50px;
}

.info__specs-title {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    width: 250px;
    font-size: 60px;
    line-height: 67px;
    font-weight: 400;
}

.info__specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    font-size: 18px;
    font-weight: 700;
}

.info__specs-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}

.info__specs-text {
    width: 185px;
}
